@page "/Patients/{patientid}/Records/{recordid}/Tickets/{ticketid}/ReportBrowser"
@model iis_project.Pages.Patients.Reports.TicketReportBrowserModel
@using iis_project.Utils
@using iis_project.Pages.Shared
@{
    ViewData["Title"] = "Prohlížeč vyšetření";
}

<!--
 IIS Projekt - Nemocnice
 Listopad 2020
 Autoři: Radek Veverka (xvever13)
         Adam Sedmík (xsedmi04)
-->

@if (Model.OwnRecord)
{
    <a asp-page="/Patients/Reports/RecordReportBrowser" asp-route-patientid="@RouteData.Values["patientid"]" asp-route-recordid="@RouteData.Values["recordid"]"><h3><i class="fas fa-arrow-left"></i>&nbsp; Zpět na záznam</h3></a>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <strong style="font-size: 1.2rem">Vyšetření &nbsp;</strong>
                <small class="d-block">Ošetřující lékář: @Model.Ticket.Doctor.Fullname &nbsp;</small>
                <small class="d-block preserve-linebreaks">@Model.Ticket.Description</small>
            </div>

            @if (Model.Editable && Model.Ticket.Status != Data.Enums.StatusTicket.Closed)
            {
                <div class="col-1 text-right">
                    <a asp-page="/Patients/Records/Tickets/Finish" asp-route-ticketid="@Model.Ticket.MedicalTicketId" asp-route-returnUrl="@Request.Path">Dokončit</a>
                </div>
            }
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-2">
                @if (Model.Editable)
                {
                    <a class="d-block text-center mb-3" asp-page="./Create" asp-route-patientid="@RouteData.Values["patientid"]" asp-route-ticketid="@Model.Ticket.MedicalTicketId"><i class="fas fa-plus"></i>&nbsp;Přidat lékařskou zprávu</a>
                }
                else
                {
                    <strong class="mb-1 d-block">Lékařské zprávy</strong>
                }
                <div>
                    @foreach (var item in Model.Reports)
                    {
                        <a class="card report-link @(Model.SelectedReport == item ? "report-selected" : "")"
                           asp-page="./TicketReportBrowser"
                           asp-route-patientid="@RouteData.Values["patientid"]"
                           asp-route-recordid="@RouteData.Values["recordid"]"
                           asp-route-ticketid="@RouteData.Values["ticketid"]"
                           asp-route-selectedReportId="@item.MedicalReportId">
                            <div class="card-body">
                                <div class="dt-caption">
                                    @item.DtCreated
                                </div>

                                <div>
                                    <strong>@item.Header?.Trunc(35)</strong>
                                </div>

                                <div>
                                    <small>@item.Content?.Trunc(80)</small>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>

            <div class="col">
                <partial name="_MedicalReportPartial" model="Model.SelectedReport" />
            </div>

            <div class="col-2">
                <h6>Žádosti o proplacení úkonů</h6>
                @if (Model.Editable)
                {
                    <form method="post">
                        <div class="input-group">
                            <select class="form-control" asp-for="ActId" asp-items="Model.ActItems"></select>

                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Požádat</button>
                            </div>
                        </div>
                    </form>
                }
                <hr />
                <div>
                    @foreach (var item in Model.TicketActs)
                    {
                        <div class="insurance-item status-@Enum.GetName(typeof(Data.Enums.StatusInsurance), item.Status)">
                            <div class="dt-caption">@item.DtCreated</div>
                            <div>@item.MedicalAct.Name?.Trunc(40)</div>
                            <div> @Utils.StatusConverter.ConvertStatus(item.Status)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
